.t-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #1B264F;
}
.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
.info-total{
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgrey;
    padding-left: 1.3rem;
    margin-left: 0.5rem;
}

.far{
    font-size: 2rem;
}
