.expense-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  color: black;
}

.expense-container h1 {
  font-size: 1rem;
  font-weight: bolder;
}
.expense-container p {
  font-size: 0.8rem;
  color: grey;
  font-weight: lighter;
}
.expense-container i {
  font-size: 1rem;
}
.main-information {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.category-inf,
.expense-options {
  display: flex;
  align-items: center;
}
.expense-options i{
  color: grey;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 450ms;
}
.expense-options i:hover{
  color: black;
  font-weight: bolder;
   transform: scale(1.1);
}

.arrow {
  margin-right: 1rem;
  cursor: pointer;
}
.options {
  margin-left: 1rem;
  cursor: pointer;
}
.down {
  transform: rotate(180deg);
}

.sub-information {
  display: none;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: flex;
  width: 80%;
}
