.auth-container{
    width: 100%;
    display: flex;
    height: 100vh;  
  

}
.auth-img{
color: white;
width: 50%;
 background: #C7F176;
background: -webkit-linear-gradient(top right, #C7F176, #25C8B2);
background: -moz-linear-gradient(top right, #C7F176, #25C8B2);
background: linear-gradient(to bottom left, #C7F176, #25C8B2);;
display: flex;
justify-content:center;
align-items:flex-start;
}
.img-text{
    margin: auto;
}
.img-text h1{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: -1rem;
}

.auth-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth-form input{
    width: 20rem;
    height:2rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
    margin-bottom: 1rem;

}
.btn{
    width: 20.5rem;
    height:2.2rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-weight: 900;
    color: white;
    background: #C7F176;
    background: -webkit-linear-gradient(top right, #C7F176, #25C8B2);
    background: -moz-linear-gradient(top right, #C7F176, #25C8B2);
    background: linear-gradient(to bottom left, #C7F176, #25C8B2);
    cursor: pointer;
}
.change{
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 450ms;
    margin-top: 1rem;
}
.change:hover{
    border-bottom: 1px solid black;
    transform: scale(1.05);
}
.form-text{
display: flex;
flex-direction: column;
margin-right: 8.6rem;
margin-bottom: 2rem;
}
.form-text h1{
    margin-bottom: -1rem;
}