.addBtn{
    border: none;
    height: 3rem;
    width: 8rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 2rem;
    transition: transform 450ms;
    cursor: pointer;
}
.addBtn:hover{
    
    transform: scale(1.1);
    
}
.income{
    background-color: #BDECB6;
   
    color: black
}
.spending{
    background-color: #FF6961;
    color: black
}