.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.middle{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.addBtn-container {
  display: flex;
}
.total-container{
  width: 45%;
}
.expenses-container{
  width: 45%;
  height: 65vh;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  margin: auto;
  
}
.expenses-container::-webkit-scrollbar {
  display: none;

}

.total-container{
  width: 45%;
  height: 65vh;
  border-radius: 20px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  background-color: white;
  margin: auto;
}