.home-container {
  display: grid;
  grid-template-columns: 0.3fr repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.4fr;
 gap: 0;
  height: 100vh;
  background-color: #F6F6F6;
}
  
  .nav-container {
     grid-area: 1 / 1 / 5 / 2; 
     background-color: #00073A;
     border-right: 1px solid FFFBF3;
  
  }
  .total-container { 
  grid-area: 1 / 2 / 2 / 3; 
  border-right: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;

  }
  .buttons-container  { 
    grid-area: 4 / 2 / 5 / 3; 
    border-right: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expenses-container{ 
    grid-area: 2 / 2 / 4 / 3;
    border-right: 1px solid lightgrey;
    max-height: 30rem;
    margin-top: 3rem;
    overflow-y: scroll;
   }
   .expenses-container::-webkit-scrollbar {
    display: none;
  
  }
  .graph-container { 
    grid-area: 1 / 3 / 3 / 4; 
    max-width: 35rem;

  }
  .other-container { 
    grid-area: 3 / 3 / 5 / 4; 

  }



/* .home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.middle{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.addBtn-container {
  display: flex;
}
.total-container{
  width: 45%;
}
.expenses-container{
  width: 45%;
  height: 70vh;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  margin: auto;
  
}
.expenses-container::-webkit-scrollbar {
  display: none;

}
.lightgreen, .lightred{
  transition: transform 450ms;
}

.lightgreen:hover{
  color: green;
  transform: scale(1.05);
}
.lightred:hover{
  color: red;
  transform: scale(1.05);
}
.total-container{
  width: 45%;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  background-color: white;
  margin: auto;
} */
