
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #f9fafb;
}
.green{
  background-color:#5DC460 ;
}
.lightgreen{
 background-color: #dbeddc;
}
.lightred{
 background-color: #ffdfd5; 
}
.red{
  background-color:#F44336 ;
}
