* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;

}
.green {
  background-color: #5dc460;
}
.lightgreen {
  background-color: #dbeddc;
}
.lightred {
  background-color: #ffdfd5;
}
.red {
  background-color: #f44336;
}
.incomes {
  color: green;
}
.expenses {
  color: red;
}
.text{
  color: darkgray;
}
.icon{
  color: rgb(138, 137, 137);
}
